# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Uploads
uploads/

# Prisma
prisma/*.db